<style>
	body{
		font-family: 'Chilanka', cursive;
		text-align:center;
		
	}
	.warnaNavbar {
		background: rgba(255, 255, 255, 0.5);

	}

	.nav-link {
		margin-right: 10px;
		font-size: 30px;
		color:#042057;
	
	}


	.navbar-brand {
		margin-left: 20px;
		font-size: 23px;
		color:#042057;

	
	}

	.navbar-brand:hover {
		color: #0eb2ed;
	}
	
	
	.all{
		text-align:center;
		font-size:28px;
		color:#00001a;
	}

	
	.buttonku{
		text-align:center;
		font-size:30px;
		background-color:#FAFAD2;
		font-family: 'Chilanka', cursive;
		margin:10px;
		
	}
	.buttonku:hover{
		background-color:#FFA07A;
	}
	.warna{
		margin:30px;
	}
	.baby-blue{
		text-align:center;
		background-color:#E0FFFF;
		color:#144e83;
		font-family: 'Chilanka', cursive;
		
	}
	.baby-blue h2{
		color:#144e83;
		font-family: 'Chilanka', cursive;
		
	}
	.baby-blue .buttonku{
		text-align:center;
		background:#cdebf9;
		color:#144e83;
	}
	.baby-blue .buttonku:hover{
		background:#e1edf9;
	}
	.baby-blue p{
		color:#144e83;
		font-family: 'Chilanka', cursive;
		
	}
	.baby-pink{
		text-align:center;
		background-color:#ffe1e6;
		color:#DB7093;
		font-family: 'Chilanka', cursive;
		
	}
	.baby-pink h2{
		color:#DB7093;
		text-align:center;
		font-family: 'Chilanka', cursive;
	}
	.baby-pink p{
		text-align:center;
		font-family: 'Chilanka', cursive;
		color:#DB7093;
	}
	.baby-pink .warna{
		text-align:center;
		
	}
	.baby-pink .buttonku:hover{
		background:#ffecef;
	}
	.baby-pink .buttonku{
		text-align:center;
		background:#ffc0cb;
		color:#DB7093;
	}
	.tabelku{
		background-color:#ffe1e6;
		margin:50px;
	}
	.container1{
		width:90%;
	}
	.tulis{
		font-size:25px;
	}
	
</style>