{% extends 'base.html' %}
{% load static %}
<html>
<head>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >

  
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
</head>

{% block content %}
<body class="baby-blue">
	<br><br><br><br><br><br>
	{% if user.is_authenticated %}
	<h3>Hello {{ user.username }}!</h3>
	<form class="logout-link" action="{%url 'homepage:logoutstory9' %}" method="post">
		{% csrf_token %}
		<button type="submit" class="btn btn-outline-info">Logout</button>
	</form>
	{% endif %} 
</body>
{% endblock %}
</html>
