{% load static %}

<html>
<head>
	<title>Nazila Rahma</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="{% static 'js/theme.js'  %}"></script>
	<script src="{% static 'js/eight.js'  %}"></script>
	
</head>
  
	
<nav class="navbar navbar-expand-lg warnaNavbar fixed-top">
	<a class="navbar-brand" href="{% url 'homepage:story9' %}"> Login</a>
	<a class="navbar-brand" href="{% url 'homepage:index' %}"> Theme</a>
	<a class="navbar-brand" href="{% url 'homepage:story8' %}"> Books</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	<div class="navbar-nav ml-auto">
	<a class="nav-item nav-link">Nazila Rahma</a> 
	</div>
	</div>
</nav>
{% block content %}
	{% endblock %}

</html>