{% extends 'base.html' %}
{% load static %}

<html>

	

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nazila Rahma</title>
  <link rel="shortcut icon" href="">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >

  
<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="{% static 'js/theme.js'  %}"></script>
  	
  
</head>
{% block content %}
<body class="baby-blue">
	<br><br><br>
  <button type="button" class="btn btn-light warna" id="theme-button"> theme</button> <p id="greeting">this is the baby-blue theme :)</p>
	<div class="all">
		
		<div>
			<br><br>
	<h2>Hello, aku nazila</h2>
	<br>
	
		<ul>
		<li style='list-style-type: none;'><button class="button-aktivitas buttonku btn btn-outline-secondary" id='act'>aktivitas</button></li>
		<p class="aktivitas" >kuliah<br>makan<br>tidur</p>
		<li style='list-style-type: none;'><button class="button-organisasi buttonku btn btn-outline-secondary" id='org'>organisasi</button></li>
		<p class="organisasi">fuki<br>sistem<br></p>
			<li style='list-style-type: none;'><button class="button-prestasi buttonku btn btn-outline-secondary" id='pres'>prestasi</button></li>
			<p class="prestasi">ga punya<br></p>
		</ul>
		

		

		
		
		<br>
	    
	</div>
	</div>
	
</body>
{% endblock %}
</html>
