{% extends 'base.html' %}
{% load static %}
<html>
<head>
	<title>Login</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >

  
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
</head>

{% block content %}
<body class="baby-blue">
	<br><br><br><br><br><br>
    <h1>Login</h1>
     <form class="site-form" action="{%url 'homepage:story9' %}" method="post">
      {% csrf_token %}
      <div>
      {{form.as_p}}
      </div>
      <input type="submit" value="Login" class="btn btn-outline-info">
     </form>
</body>
{% endblock %}
</html>