{% extends 'base.html' %}
{% load static %}

<html>
<head>
	<title>story8 nazila</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" >

  
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="{% static 'js/eight.js'  %}"></script>
</head>
{% block content %}
<body class="baby-blue">
	
	<div class="container">
		<br><br><br><br><br>
	<h2> Search book </h2>
	<form class="form-inline form-control-lg md-form mr-auto mb-4 container">
		<input id="buku" class="form-control mr-sm-2" placeholder="Search" type="search" id="searchBox" name="" value="" style="width:70vw;font-size:25px">
	</form>
	</div>
	<div class="table-responsive container">
		<table class= "table table-light table-hover">
			<thead class = "tabelku" style="background-color:#ffe1e6;font-size:25px;">
				<tr class="text-center">
					<th scope="col" class="align-middle">No.</th>
	                <th scope="col" class="align-middle">Cover</th>
	                <th scope="col" class="align-middle">Title</th>
	                <th scope="col" class="align-middle">Authors</th>
	                <th scope="col" class="align-middle">Published Date</th>
				</tr>
			</thead>
			<tbody class="tulis"></tbody>
		</table>
	</div>
	
</body>
{% endblock %}
</html>